.all-gig-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 30;
  }
  
  .gig-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .gig-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  .detail {
    flex: 1 0 50%; /* Two details per row */
    margin-bottom: 10px;
  }
  
  .detail-label {
    font-weight: bold;
  }
  
  .detail-value {
    color: #555;
  }
  
  .apply-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .apply-button:hover {
    background-color: #0056b3;
  }
  