/* Footer.css */

.footer {
    background-color: #1f1f1f;
    color: #fff;
    padding: 50px 0;
    margin-top: 20px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-us {
    flex-basis: 50%;
    max-width: 500px;
  }
  
  .about-us h3 {
    color: #1aac83;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .about-us p {
    line-height: 1.6;
  }
  
  .footer-info {
    flex-basis: 40%;
    max-width: 300px;
  }
  
  .footer-info p {
    margin-bottom: 10px;
  }
  
  .social-icons {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin-left: 20px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #1aac83;
  }
  